name: "Bicep Azure CI/CD"
run-name: "Bicep • ${{ github.actor }} • run #${{ github.run_number }}"
 
on:
  workflow_dispatch:
  push:
    branches: [ master ]  
    paths:
      - "bicep/**"
      - ".github/workflows/bicep.yml"
  pull_request:
    branches: [ master ]  
    paths:
      - "bicep/**"
      - ".github/workflows/bicep.yml"
 
env:
  RG_NAME: Sanskriti_Mahendra_RG
  LOCATION: centralindia
  subscriptionid: '679f3d56-bed2-429f-9e31-4d7bf67e14c7'
 
jobs:
  plan:
    name: "Plan (What-If)"
    runs-on: ubuntu-latest
 
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
 
      - name: "Azure Login"
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
 
      - name: "Ensure Resource Group exists"
        run: az group create -n $RG_NAME -l $LOCATION
 
      - name: "Bicep compile check"
        run: az bicep build --file main.bicep --outfile out.json
 
      - name: "What-If"
        run: |
          az deployment group what-if \
            --resource-group $RG_NAME \
            --template-file main.bicep \
            --parameters main.parameters.json \
            --result-format FullResourcePayloads
 
  apply:
    name: "Apply (Deploy)"
    runs-on: ubuntu-latest
    needs: [ plan ]                 # second job runs only if plan succeeds
    if: github.ref == 'refs/heads/master'   # ✅ Only apply on master branch
 
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
 
      - name: "Azure Login"
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
 
      - name: "Deploy"
        run: |
          az deployment group create \
            --resource-group $RG_NAME \
            --template-file main.bicep \
            --parameters main.parameters.json
 
      - name: "Show outputs"
        run: |
          DEPLOY_NAME=$(az deployment group list -g $RG_NAME --query "[-1].name" -o tsv)